VITE_APP_NAME=생활기록
NOTION_API_BASE_URL=https://api.notion.com/v1
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=http://localhost:5173/api/naver/callback
NAVER_API_BASE_URL=https://openapi.naver.com
